html, body {
    margin:0;
    height:100vh;
    width:100vw;
}
body {
    background-color:#4E676C;
}

#thought-canvas-container {
    border: 1px solid black;
    display: flex;
    height:100%;
    flex-wrap: wrap;
    align-items:flex-start;
    align-content:flex-start;
}
.thought {
    font-family:'Josefin Sans';
    background-color:magenta;
    display:inline-block;
    margin:5px;
    padding:10px;
}



