html, body {
    margin:0;
    height:100vh;
    width:100vw;
}
body {
    background-color:#4E676C;
}

#input-bar {
    text-align:center;
}
#input-bar-input {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    max-width: 500px;
    width: 80vw;
    font-size: 17px;
    font-family: 'Josefin Sans';
}

#thought-canvas-container {
    display: flex;
    height:100%;
    flex-wrap: wrap;
    align-items:flex-start;
    align-content:flex-start;
}

.thought {
    font-family:'Josefin Sans';
    background-color:magenta;
    display:inline-block;
    margin:5px;
    padding:10px;
    position:relative;
}
.thought .closebutton {
    border:none;
    visibility:hidden;
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    right: 0;
    border: none;
    background: none;
    padding:0;
    cursor:pointer;
}
.thought:hover .closebutton {
    visibility:visible;
}



