html, body {
    margin:0;
}
body {
    background-color:#4E676C;
}

#input-bar {
    text-align:center;
}
#input-bar-input {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    max-width: 500px;
    width: 80vw;
    font-size: 17px;
    font-family: 'Josefin Sans';
    border:none;
    outline: none;
    background: cyan;
}

#thought-canvas-container {
    display: flex;
    height:100%;
    flex-wrap: wrap;
    align-items:flex-start;
    align-content:flex-start;
}

.thought {
    font-family:'Josefin Sans';
    background-color:magenta;
    display:inline-block;
    margin:5px;
    padding:10px;
    position:relative;
}
.thought .closebutton {
    border:none;
    visibility:hidden;
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border: none;
    background: black;
    padding:0;
    cursor:pointer;
    color:white;
}
.thought:hover .closebutton {
    visibility:visible;
}


#sort-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-content:space-evenly
}
.sort-box {
    margin:10px;
    display:inline-block;
    width:10vw;
    height:10vw;
    min-width:100px;
    min-height:100px;
    text-align:center;
    font-family:sans-serif;
    padding:10px 5px;
    box-sizing:border-box;
    border:1px dashed cyan;
}


